:root {
  --p-header-height: 50px;
  --p-sidebar-width: 250px;
  --p-doc-padding: 24px;
  --cp-color-base: #eff1f5;
  --cp-color-mantle: #e6e9ef;
  --cp-color-surface0: #ccd0da;
  --cp-color-surface1: #bcc0cc;
  --cp-color-blue: #1e66f5;
  --cp-color-sky: #04a5e5;
  --cp-color-lavender: #7287fd;
  --cp-color-text: #3c3c43;
  --cp-color-subtext0: #6c6f85;

  --cp-color-cyan: oklch(52% 0.105 223.128);
  --cp-color-codeBlock: #f6f6f7;
  --cp-color-bg-sidebar: #f6f6f7;
  --cp-color-comment: green;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: var(--cp-color-text);
}

.srcComment {
  color: var(--cp-color-comment);
}


a {
  color: var(--cp-color-text);
}

a:hover {
  color: var(--cp-color-cyan);
}

a:visited {
  color: var(--cp-color-lavender);
}

pre {
  overflow-x: auto;
  font-size: 14px;
  padding: 8px;
  border-radius: 4px;
  background-color: var(--cp-color-codeBlock);
}

.packageName {
  font-size: 18px;
  font-weight: 600;
}

.layout {
  display: flex;
  min-height: 100vh;
}

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  padding: var(--p-header-height) 16px 50px 16px;
  width: var(--p-sidebar-width);
  overflow-x: hidden;
  overflow-y: auto;
  box-sizing: border-box;
  background-color: var(--cp-color-bg-sidebar);
  z-index: 1;
}

.sidebarNav {
  padding: 16px 0 16px;
}

.navGroup {
  font-weight: 500;
}

.sidebarLink {
  display: block;
  padding: 4px 0;
  font-size: 14px;
  font-weight: 500;
}

.content {
  padding-left: var(--p-sidebar-width);
  padding-top: var(--p-header-height);
  width: 100%;
  box-sizing: border-box;
}

.headerContent {
  padding-left: var(--p-sidebar-width);
  height: var(--p-header-height);
  width: 100%;

}

.headerDoc {
  padding: 0 var(--p-doc-padding);
  height: var(--p-header-height);
  display: flex;
  align-items: stretch;
   border-bottom: 1px solid var(--cp-color-surface0);
}

.headerBody {
  background-color: white;
  width: 100%;
  display: flex;
  align-items: center;
}

.doc {
  padding: var(--p-doc-padding);
}

.doc h3 {
  margin: 48px 0 16px;


}

.doc h3:not(:first-child) {
  padding-top: 16px;
  border-top: 1px solid var(--cp-color-surface1);
}

.doc h4 {
  margin: 32px 0 16px;
}

header {
  height: var(--p-header-height);
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background: transparent;

  z-index: 2;
  display: flex;
  align-items: center;
}

.identName {
  color: var(--cp-color-cyan);
}
