body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: var(--cp-color-base);
  color: var(--cp-color-text);
}

a {
  color: var(--cp-color-blue);
}

a:hover {
  color: var(--cp-color-sky);
}

a:visited {
  color: var(--cp-color-lavender);
}

h1, h2, h3, h4, h5, h6 {
  color: var(--cp-color-subtext0);
}

pre {
  overflow-x: auto;
  font-size: 14px;
  padding: 8px;
  border-radius: 4px;
  background-color: var(--cp-color-surface0);
}

:root {
  --p-header-height: 50px;
  --p-sidebar-width: 250px;
  --cp-color-base: #eff1f5;
  --cp-color-mantle: #e6e9ef;
  --cp-color-surface0: #ccd0da;
  --cp-color-surface1: #bcc0cc;
  --cp-color-blue: #1e66f5;
  --cp-color-sky: #04a5e5;
  --cp-color-lavender: #7287fd;
  --cp-color-text: #4c4f69;
  --cp-color-subtext0: #6c6f85;
}

.layout {
  display: flex;
  min-height: 100vh;
}

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  padding: var(--p-header-height) 16px 50px 16px;
  width: var(--p-sidebar-width);
  overflow-x: hidden;
  overflow-y: auto;
  box-sizing: border-box;
  background-color: var(--cp-color-mantle);
  z-index: 1;
}

.sidebarNav {
  padding: 16px 0 16px;
}

.navGroup {
  font-weight: 500;
}

.sidebarLink {
  display: block;
  padding: 4px 0;
  font-size: 14px;
}

.content {
  padding-left: var(--p-sidebar-width);
  padding-top: var(--p-header-height);
  width: 100%;
  box-sizing: border-box;
}

.doc {
  padding: 24px;
}

.doc h3 {
  margin: 48px 0 16px;
  padding-top: 16px;
  border-top: 1px solid var(--cp-color-surface1);
}

.doc h4 {
  margin: 32px 0 16px;
}

header {
  height: var(--p-header-height);
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background: var(--cp-color-surface0);
  z-index: 2;
}
