<html>
  <head>
    <title> {{.Package.Name.Name}} package </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="main.css" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" defer src="pldoc.js"></script>
  </head>
  <body>



    <div>
      <h2> {{.Package.Name.Name}} </h2>
    </div>
    
    <div id="content">
      <nav class="left-navbar">
        {{ if .PackageList }}
        <h3> Packages </h3>
        <ul>
          {{ range .PackageList }}
          <li>
            <a href="{{ .Name.Name }}.html"> {{ .Name.Name }} </a>
          </li>
          {{end}}
        </ul>
        {{ end }}
        
      </nav>
      
      <article>
        {{ with .Package }}
        {{ with .Doc}}
        <h3> Overview </h3>
		<p>
		  {{.Text}}
		<p>
		  {{end}}

	      <!-- Constant, variables, types -->

          {{ if .VarDecls}}
          <h3> Variables, constants </h3>
          {{ range .VarDecls }}
          <h4 id="var_{{.Name.Name}}"> {{- varHeader . }} <span class="func-name"> {{ .Name.Name }} </span> </h4>
          <pre>{{ .String }}</pre>
        <p> {{ .Doc.Text }} </p>
        {{ end }}
        {{ end }}


        <!-- Functions, procedures -->
        {{ if .FuncSpecs }}
        <h3> Functions, procedures </h3>
        {{ range .FuncSpecs }}
        <h4 id="function_{{.Name.Name}}"> {{- funcHeader . }} <span class="func-name">{{ .Name.Name }} </span> </h4>

        <pre>{{ funcListing . }}</pre>
        {{ formatComment .Doc }}
        {{ end }}
        {{ end }}

        <!-- Types -->
        {{ if .TypeDecls }}
        <h3> Types </h3>
        {{ range .TypeDecls }}
        <h4 id="type_{{.Name.Name}}"> {{- typeHeader . }} <span class="func-name">{{ .Name.Name }} </span> </h4>
        <pre>{{ typeListing . }}</pre>
        <p> {{ .Doc.Text }} </p>
        {{ end }}
        {{ end }}

        <!-- Cursors -->
        {{ if .CursorDecls }}
        <h3> Cursors </h3>
        {{ range .CursorDecls }}
        <h4 id="cursor_{{.Name.Name}}"> cursor <span class="func-name">{{ .Name.Name }} </span> </h4>
        <pre>{{ cursorListing . }}</pre>
        <p> {{ .Doc.Text }} </p>
        {{ end }}
        {{ end }}
        <!-- With Package end -->
        {{ end }}


        
        
      </article>
    </div>


    <div id="modal" class="invisible-item">
      <div id="header">
        <h3> Quick jump </h3>
      </div>
      
      <input type="text" autocomplete="off" id="searchBoxInput" placeholder="Search...">
      <div id="list-wrap">
        {{ with .Package }}
        {{ range .VarDecls }}
        <a href="#var_{{.Name.Name}}"> {{- varHeader . }} {{ .Name.Name }} </a>
        {{ end }}

        {{ range .FuncSpecs }}
        <a href="#function_{{.Name.Name}}"> {{- funcHeader . }} {{ .Name.Name }} </a>
        {{ end }}

        {{ range .TypeDecls }}
        <a href="#type_{{.Name.Name}}"> {{- typeHeader . }} {{ .Name.Name }} </a>
        {{ end }}

        {{ range .CursorDecls }}
        <a href="#cursor_{{.Name.Name}}"> cursor {{ .Name.Name }} </a>
        {{ end }}
        <!-- With package end -->
        {{ end }}

      </div>
      <div id="close-modal">
        <!-- TODO: Don't assign event handlers in HTML code, use addEventListener instead -->
        <button onclick="toggleDialog()"> Close </button>
      </div>
    </div>
  </body>
</html>

