<html>

    <head>
        <title> {{.Package.Name.Name}} package </title>
        <link href="main.css" rel="stylesheet" type="text/css" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <style>

        </style>
    </head>

    <body>
        <div class="layout">
          <header>
            <div class="headerContent">
              <div class="headerDoc">
                <div class="headerBody">
                  <div class="packageName">{{.Package.Name.Name}}</div>
                </div>
              </div>
            </div>
          </header>
            <aside class="sidebar">
                <nav class="sidebarNav">
                    {{ if .PackageList }}
                    <div class="navGroup"> Packages </div>
                    {{ range .PackageList }}
                    <div><a href="{{ .Name.Name }}.html" class="sidebarLink"> {{ .Name.Name }} </a></div>
                    {{ end }}
                    {{ end }}
                </nav>


            </aside>

            <div class="content">
                <div class="doc">
                    {{ with .Package }}
                    {{ with .Doc}}
                    <h3> Overview </h3>
                    <p>
                        {{.Text}}
                    </p>
                    {{end}}

                    <!-- Constant, variables, types -->

                    {{ if .VarDecls}}
                    <h3> Variables, constants </h3>
                    {{ range .VarDecls }}

                    <div>
                        <h4 id="var_{{.Name.Name}}" > {{- varHeader . }} <span class="identName"> {{
                            .Name.Name }} </span> </h4>
                        <pre>{{ .String }}</pre>
                        <p> {{ .Doc.Text }} </p>
                    </div>
                    {{ end }}
                    {{ end }}


                    <!-- Functions, procedures -->
                    {{ if .FuncSpecs }}
                    <h3> Functions, procedures </h3>
                    {{ range .FuncSpecs }}
                    <div>
                        <h4 id="function_{{.Name.Name}}"> {{- funcHeader . }} <span class="identName">{{
                            .Name.Name }} </span> </h4>

                        <pre>{{ funcListing . }}</pre>
                        {{ formatComment .Doc }}
                    </div>
                    {{ end }}

                    {{ end }}

                    <!-- Types -->
                    {{ if .TypeDecls }}
                    <h3> Types </h3>
                    {{ range .TypeDecls }}
                    <div>

                        <h4 id="type_{{.Name.Name}}"> {{- typeHeader . }} <span class="identName">{{
                            .Name.Name }} </span> </h4>
                        <pre>{{ typeListing . }}</pre>
                        <p> {{ .Doc.Text }} </p>
                    </div>
                    {{ end }}

                    {{ end }}

                    <!-- Cursors -->
                    {{ if .CursorDecls }}
                    <h3> Cursors </h3>
                    {{ range .CursorDecls }}
                    <div>
                        <h4 id="cursor_{{.Name.Name}}"> cursor <span class="identName">{{ .Name.Name }}
                        </span> </h4>
                        <pre>{{ cursorListing . }}</pre>
                        <p> {{ .Doc.Text }} </p>
                    </div>
                    {{ end }}

                    {{ end }}
                    <!-- With Package end -->
                    {{ end }}
          </div>
      </div>
    </div>
  </body>
</html>
